<h1>Editing befakepost</h1>

<%= render "form", befakepost: @befakepost %>

<br>

<div>
  <%= link_to "Show this befakepost", @befakepost %> |
  <%= link_to "Back to befakeposts", befakeposts_path %>
</div>
