/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

#befake{
  user-select: none;
}
body{
  background-color: black;
  color: white;
  font-family: 'Inter', sans-serif;

}
.card{
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  aspect-ratio: 256 / 345;
  width: auto;
  border-radius: 12px;
  border: none;
}
.card:hover{
  transform: scale(1.05);
}
.card-body{
  padding: 7%;

}
.username{
  margin-bottom: -7px;
}
.date{
  color: #AAAAAA;
}

.sm-card{
  aspect-ratio: 256 / 345;
  width: 40%;
  border: 2px solid black;
  border-radius: 12px;
  background-size: cover;
}
.card{
  background-size: cover!important;
}


//INDEX

// Ajouter un befake
body{
  min-height: 100vh;
}

.new-befakepost{
  position: sticky;
  bottom: 0px;
  bottom: 0;
  height: 180px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.92) 90.07%);
}
.notification{

  transition: all 0.5s ease-in-out;
  transform: scale(0);
  padding: 7px;
  top: 100px;
  position: absolute;
  z-index: 999;
border-radius: 20px;
border: 2px solid #737373;
background: linear-gradient(89deg, rgba(112, 124, 137, 0.92) -7.41%, rgba(32, 36, 40, 0.90) 27.04%, rgba(11, 13, 15, 0.89) 45.91%, rgba(26, 29, 33, 0.90) 61.77%, rgba(111, 121, 131, 0.97) 108.94%);
backdrop-filter: blur(9.75px);
width: 300px;
height: 70px;
}
.notification span{
  font-size: 14px;
}


//FORMULAIRE

form{
  margin: auto 0;
}
.form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.input-container{
  margin-bottom: 80px;
}
.input-column{
  gap: 80px;
}
.input{
  width: 100%;
  display: flex;
  align-items: end;
  margin-bottom: 20px;
  gap: 10px;
}
.input label{
  width: fit-content;
  font-weight: 600;
}
.input textarea, .input input{
  transition: all 0.3 ease-in-out;
  border: none;
  background: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  resize: none;
  outline: none;
}
.input textarea:hover, .input input:hover{
  border-bottom: 2px solid rgba(255, 255, 255, 1);

}
.input textarea{
  width: auto;
  height: 31px;
}

.notification span:last-child{
  font-size: 10px;
}
.notification p{
  margin-bottom: 0;
  font-size: 12px;
  line-height: 130%;
letter-spacing: 0.2px;
}
.form-submit{
  font-weight: bold;
  color: white;
  font-size: 48px;
  border: none;
  background: none;
}
.submit_input{
  margin-top: 60px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}


//SHOW
.show-container{
  padding: 0 120px;
}
.show-container .card:hover {
  transform: none;
  cursor: default;
}
.background-image{
  position: absolute;
  opacity: 0.2;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 900px;
  aspect-ratio: 256 / 345;
  z-index: -1;
  filter: blur(80px);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
