<style>
  .texts {
    max-width: 570px;
    padding: 0 2rem;
    margin: 0 auto;
  }

  .texts p {
    max-width: 570px;
    text-align: justify;
  }

  .texts a {
    color: white;
    text-decoration: underline;
  }
</style>
<a href="/" class="text-decoration-none">
  <p class="text-center fw-bold fs-3 py-4 text-white" id="befake">BeFake.</p>
</a>
<div class="text-white texts">
  <p>
    BeFake. est un projet imaginé et développé par <a href="https://simondaguetkargl.fr/" target="_blank">Simon
      Daguet-Kargl</a> et <a href="https://tomwainberg.fr/" target="_blank">Tom Wainberg</a>, étudiants de première
    année en
    BUT MMI. Ce projet a été réalisé ex nihilo en 4 jours, dans le cadre de notre formation.
  </p>
  <p>BeFake est une parodie de BeReal, réseau social qui se veut partager des <i>“doses quotidiennes de vie réelle”</i>.
    Sa
    création découle d'une réflexion sur la nature de la représentation de soi dans le paysage numérique contemporain.
    <!-- Code non public le temps du concours -->
    <!-- Retrouvez le code du site sur <a href="https://github.com/simdgtk/befake" target="_blank">Github</a>. -->
  </p>
  <p>Alors que les réseaux sociaux (et notamment BeReal) prônent l'authenticité et la proximité entre les individus, la
    réalité est souvent altérée par des filtres, des retouches et des mises en scène soigneusement orchestrées. BeFake
    se
    présente ainsi comme une satire de cette tendance omniprésente à embellir, voire à falsifier, la réalité en ligne.
  </p>
  <p>En effet, la paradoxale quête de vérité et de connexion authentique sur Internet coexiste avec une profusion
    d'outils
    permettant de modifier et d'embellir la réalité. BeFake embrasse cette contradiction en mettant en avant des posts
    créés
    à partir d'images générées par intelligence artificielle, en l’occurrence Midjourney, soulignant ainsi la dissonance
    entre l'idéal d'authenticité et la réalité altérée qui règne souvent sur les réseaux sociaux.</p>
  <p>Ce réseau social parodique joue avec l'idée que même dans un monde numérique qui promeut la transparence et
    l'authenticité, la tentation de créer une version idéalisée de soi-même persiste. En exposant cette dualité de
    manière
    satirique, BeFake invite à une réflexion sur la manière dont les individus construisent et perçoivent leur identité
    en
    ligne, ainsi que sur les normes sociales qui régissent notre comportement sur les réseaux sociaux.
  </p>
  <p>BeFake encourage les utilisateurs à remettre en question les standards de beauté et de réussite imposés par les
    réseaux
    sociaux conventionnels, et à adopter un regard plus critique sur la manière dont les images sont manipulées et
    présentées en ligne. En ce sens, BeFake peut être perçu comme une plateforme de sensibilisation, visant à éveiller
    les
    consciences sur les implications de la culture de l'image dans la société contemporaine.
  </p>
</div>