<style>
  .texts {
    max-width: 570px;
    padding: 0 2rem;
    margin: 0 auto;
  }

  .texts p {
    max-width: 570px;
    text-align: justify;
  }

  .texts a {
    color: white;
    text-decoration: underline;
  }
</style>
<a href="/" class="text-decoration-none">
  <p class="text-center fw-bold fs-3 py-4 text-white" id="befake">BeFake.</p>
</a>
<div class="text-white texts">
<%= link_to "← retour à l'accueil", root_path %>
  <p class="pt-2">
    BeFake est un projet imaginé et développé par <a href="https://simondaguetkargl.fr/" target="_blank">Simon
      Daguet-Kargl</a> et <a href="https://tomwainberg.fr/" target="_blank">Tom Wainberg</a>, étudiants de première
    année en
    BUT MMI. Ce projet a été réalisé en 4 jours, dans le cadre de notre formation.
  </p>
  <p>BeFake est une parodie de BeReal, réseau social qui se veut partager des <i>“doses quotidiennes de vie réelle”</i>. Sa création nous permet d'un côté de remettre en question la tendance d’un internet toujours plus proche des utilisateurs, et de l’autre, paradoxalement, de critiquer le développement alarmant de technologies altérant la réalité d’une manière quasiment imperceptible.
  </p>
  <p>Alors que les réseaux sociaux, et notamment BeReal, prônent la proximité entre les individus, la réalité est souvent altérée par des filtres, des retouches et des mises en scène. En plus de ça, cette impression d’authenticité (à laquelle bon nombre de jeunes de notre génération semblent petit à petit devenir immunisés) contribue à instaurer un sentiment de confiance entre les internautes et les influenceurs, qui, dans la plupart des cas, agissent en tant que représentants de marques. Le rôle que jouent les réseaux sociaux dans ce processus est central, avec le développement de fonctionnalités renforçant cette impression de proximité.
  </p>
  <p>Et parallèlement à cela, les technologies modernes permettent l’existence et le développement d’une profusion d'outils pour modifier la réalité. Des textes, des images, des voix et maintenant même des vidéos peuvent être créées par n’importe quel internaute d’une façon plus rapide et plus crédible que jamais auparavant. Or, les individus ayant accès à ces technologies (c’est-à-dire nous, vous, eux) ne sont pas nécessairement guidés par des motivations très… éthiques. </p>
  <p>BeFake, c’est notre modeste pierre à l’édifice pour encourager à adopter un regard plus critique sur les manières dont les contenus, quels que soient leur forme, sont manipulés parfois et surtout présentés en ligne. Aujourd’hui, rien n’est laissé au hasard et tout post peut affecter des individus, des minorités voire des démocraties entières. 
  </p>
  <p>Bon surf sur l’Internet !
  </p>
</div>